<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="hom_IFactoryObj" value="hom_Factory"/>
    <add key="hom_IDALObj" value="hom_accDAL"/>
    <add key="hom_IBLLObj" value="hom_BLL"/>
    <add key="accPath" value="E:\Study\C#\实际项目\hom(asp.net+sqlserver)web_blog_20140314\code\OnlyIndex\App_Data\#adsfwerfxcvasf.mdb"/>
  </appSettings>
  <connectionStrings>
    <add name="accConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Study\C#\实际项目\hom(asp.net+sqlserver)web_blog_20140314\code\OnlyIndex\App_Data\#adsfwerfxcvasf.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls>
    </pages>
  </system.web>
</configuration>