<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="hom_IFactoryObj" value="hom_Factory"/>
    <add key="hom_IDALObj" value="hom_accDAL"/>
    <add key="hom_IBLLObj" value="hom_BLL"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="accConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\mydb.mdb" providerName="System.Data.OleDb"/>-->
    <add name="accConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Study\C#\BS\hom(asp.net+sqlserver)web_blog20131229\code\hom_web\App_Data\#adsfwerfxcvasf.mdb" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>

    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
